*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.poppins{
    font-family: 'Poppins';
}

.jost{
    font-family: 'Jost';
}
header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
}